.container
{
    display: flex;
}

.box
{
    width: 150px;
    height: 150px;
    font-size: 4em;
    text-align: center;
    border-radius: 15px;
}
#box1
{
    background-color: green;
}
#box2
{
    background-color: yellow;
}
#box3
{
    background-color: blue;
}
#box4
{
    background-color: red;
}